{% extends "layout.html" %}

{% block title %}
    Quote Result
{% endblock %}

{% block main %}
    <form action="{{ url_for('quote') }}" method="get">
        <fieldset>
            <table style="width:120%" align="center">
            <table border="1" cellpadding="5" cellspacing="5" align= "center">
                <col width="200">
                <col width="300">
                <col width="200">
  <tr>
    <td style="font-weight:bold" align="center">Symbol</td>
    <td style="font-weight:bold" align="center">Company Name</td> 
    <td style="font-weight:bold" align="center">Price</td>
  </tr>
      <tr>
          <td>{{rows.symbol}}</td>
          <td>{{rows.name}}</td>
          <td>{{rows.price}}</td>
      </tr>
        </fieldset>
    </form>
{% endblock %}
